body {
    background-color: navy;
    margin: 0;
}

.screen {
    background: red;
    color: 
}

.Hello {
    background: solid yellow thick;
}

.letsroll {
    background-color: red;
}